* {
font-family: 'Roboto', sans-serif;
}
body{
margin:0px;
padding:0px;
}
[class*="col-"] {
width: 100%;
}
@media only screen and (min-width: 600px) {
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%; display: inline-block;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
.row:after {
content: '';
clear: both;
display: block;
margin:0px;
}
.row div{
float:left;
}
img {
max-width: 100%;
height: auto;
}
.padding-8{
padding: 8px;
}
.padding-16 {
padding: 16px;
}
.padding-32 {
padding: 32px;
}
.padding-64 {
padding: 64px;
}
.padding-128 {
padding: 128px;
}
h4{
font-size: 18px;
}
.center{
text-align: center;
}
.black{
	background-color: black;
	color:white;
}
.white{
	background-color: white;
	color:black;
}
.navbar li a{
	text-decoration: none;
	color: grey;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}